body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(imagen/c37b9f1c20bc5e4fd39dfc2ebb59be83.jpg);
  }
  
  .header {
    background-color: rgb(12, 11, 11);
    padding: 10px;
    height: 100xp;
    width: 100%;
    float: left;
    color: white; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;   
    display: flex;
    align-items: center;
    font-size: larger;
  }
  
  .footer {
    background-color: #161414;
    float: left;
    text-align: center;
    height: 100px;
    
  }
  
  
  .barralateral {
    width: 400px; 
    height: 200%;
    background-color: gray;
    float: left; 
  }
  
  .barralateral button {
    display: block;
    width: 100%;
    padding: 47px;
    border-radius: 2xp;
    background-color: rgb(52, 51, 51);
    text-align: left;
    cursor: pointer;
    color: white;
    float: left;
    text-align: center;
  }

  .barralateral a {
    text-decoration: none;
    color: white;
  }

  .barralateral a:hover {
    text-decoration: underline;
  }
  
  .barralateral button:hover {
    background-color: #313030;
  }
  
  
  .contenedor {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center; 
    align-items: center; 

  }
 .contenedor2 {
    
    justify-content: center; 
    align-items: center;
    display: inline-block; 
    font-family: Arial, Helvetica, sans-serif;
}

  .contenido-central {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: inline-block;
  }
 
  .contenido-central p {
    text-align: center;
    display: inline-block;
    justify-content: center;
  }

  .video {
    text-align: left;
    float: left;
  }

.audios{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 50vh;
  background-color: black;
  margin-left: 870px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.audios p{
  color: white;
}

.audios audio{
  width: 500px;
  height: 100px;
  padding-bottom: 50px;
}


.logo-container {
  margin-right: 10px;
}

.logo {
  width: 70px; 
  height: auto; 
}

.textonintendo {
  background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor alpha (0.5) para ajustar la opacidad */
  color: white;
  padding: 10px;
}